@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
html { font-size: 100% }
body, button, input, select, textarea { font: 16px/1.5 Microsoft Yahei, tahoma, Srial, helvetica, sans-serif; outline: none; }
ul, ol, li { list-style: none; margin: 0; padding: 0 }
a { text-decoration: none; color: #FFF; font-family: "微软雅黑" ;-webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; transition-duration: 0.5s;}
img { border: 0px; }
.clear { clear: both; }
p, div, strong, a, h1, h2, h3, h4, h5, h6, span { font-family: "微软雅黑" }
html, body { overflow-x: hidden; }
.animate { -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -ms-transition-duration: 0.5s; transition-duration: 0.5s; }
.animate1 { -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; transition-duration: 1s; }
table { border-spacing: 0px; border-collapse: collapse; }
tr { cursor: pointer; }
input { border: 0; }
textarea{resize: none;}


.hide{display:none;}
.show{display:inline-block;}
.showBlock{display:block;}

.proTitle1{margin-top: 30px;}
.proTitle1 div{display: inline-block; vertical-align: middle;}
.proTitle1 .chFont{ font-size: 24px; margin-left: 30px;margin-right: 30px;}

.container1200{ width: 1200px; height: auto; position: relative; margin: auto;}
/**========================================================*/
#nav{ width: 100%; height: 96px; position: relative; position: fixed; top: 0; z-index: 10000;}
#nav .bg{ width: 100%; height: 100%; background-color: #5ba87c; opacity: .6;filter:alpha(opacity=60); position: absolute; top: 0; left: 0;}
#nav .container1200{ z-index: 10;}
#nav .logo{ width: 207px; height: 96px; float: left; display: block;}
#nav .navList{ float: right; width: auto; height: 100%;}
#nav .navList>li{ width: 134px; height:96px; float: left; line-height: 96px;}
#nav .navList>li a{ display: block; width: 100%; height: 100%; overflow: hidden; text-align: center; font-size: 16px; color: #ffffff;}
#nav .navList>li ol{ background: #77910b; display: none; border-radius: 0 0 10px 10px; overflow: hidden;}
#nav .navList>li ol li{ width: 100%; height: 43px; line-height: 43px; background: #c8d499; margin-bottom: 1px; }
#nav .navList>li ol li a{color: #505b23;}
#nav .navList>li ol li:last-child{ margin-bottom: 0;}
#nav .navList>li ol li:hover a{ color: #FFFFFF; background: rgba(55,57,50,.6);}
#nav .navList>li ol li:hover { background: transparent;}
#nav .navList>li.cur .show{margin-top: -96px;}
#nav .navList>li .hide{background-color: #b7ab00; width: 100%; height: 100%; font-weight: bold;}
#nav .navList>li .show{ width: 100%; height: 100%;}
#nav .navList>li a:hover .show{ margin-top: -96px;}
/**========================================================*/
#index{ width: 100%; height: auto; }
#index .banners{ width: 100%; height: auto; position: relative; overflow: hidden;}
#index .banners .btns{ width:41px; height: 103px; background: url(../images/bannerBtn.png) no-repeat; position: absolute; top: 50%; margin-top: -52px; z-index: 20; cursor: pointer; transition-duration: .5s; -webkit-transition-duration: .5s; }
#index .banners .btns.btnPrev{ background-position: left; left: 35px;}
#index .banners .btns.btnNext{ background-position: right; right: 35px;}
#index .banners .btns.btnPrev:hover{ left: 30px;}
#index .banners .btns.btnNext:hover{right: 30px;}
#index .bannerList{ width:100%;height: 890px; overflow: hidden; position: relative;}
#index .bannerList li{display: none; width: 100%; position: absolute; height: 100%; float: left; font-size: 0px;
    background-size: cover;  background-position: center; top: 0; left: 0;}
#index .bannerBtn{ width: 100%; height: 3px; text-align: center; position: absolute; bottom: 8%;  }
#index .bannerBtn li{ display: inline-block; width:20px;height:20px; border-radius: 10px;-webkit-border-radius: 10px;
background: #FFFFFF; margin-right: 10px; transition-duration: .5s;-webkit-transition-duration: .5s; cursor: pointer; }
#index .bannerBtn li.cur{ background: #FEFF00;margin-right: 10px;}
#index .bannerBtn li.mr{ margin-right: 0px;margin-right: 10px;}
/**========================================================*/
.products{ width: 100%; background: url(../images/pro_bg.png) repeat; height: 640px; padding-top: 120px;text-align: center;  }
.proTitle{ font-size: 36px; line-height: 30px; font-weight: bold; text-transform: uppercase;color: #9a9a9a;}
.products .proTitle1 .chFont{color: #5e5e5e;}
.products .proTitle1 .border{ width: 155px; height: 1px; background-color: #b7b7b7; }
.products .proArea{ width: 100%; text-align: center; margin-top: 70px; margin-bottom: 85px;}
.products .proArea img:hover{ cursor: pointer;}
.pdtContainer{width:977px;overflow: hidden}
.pdtContainer{ display: inline-block;}
.pdtContainer{ margin-left: 80px;margin-right: 80px;}
.pdtContainer img{ width:218px; height: 218px; background-size: cover;display: block;margin-bottom: 20px;}
.pdtContainer span{ font-size: 18px; color:#727272; }
.pro1 ,.proCommon{display: inline-block; width: 218px; height: 255px;}
.pro1{margin-left: 0px}
.proCommon{margin-left: 30px;}
.scrollLeft,.scrollRight{margin-bottom: 125px}
.more{font-size:14px;  border:2px solid #cbcbcb; color: #727272; padding:6px 35px;}
.more:hover{ cursor: pointer;}
/**========================================================*/
.aboutUs{position:relative;iwidth:100%;height:726px;padding-top:50px;background: url(../images/about_bg.jpg) no-repeat;background-size: cover;text-align: center;}
.aboutUs .proTitle{ font-size: 36px; line-height: 30px; font-weight: bold; text-transform: uppercase;color: #000000;}
.aboutUs .proTitle1 .border{ width: 155px; height: 1px; background-color: #000000; }
.aboutUs .proTitle1{margin-bottom: 55px;}
.aboutUs p{font-size:14px;}
.aboutUs .p1{margin-bottom: 50px;}
.aboutUs .p2{width: 100%;text-align: center;}
.aboutUs .p2 p{display:inline-block;max-width: 800px;}
.usInfo{ width: 100%; text-align:center;margin-top: 55px;}
.usInfo .usImg{display: inline-block;}
.usInfo img{float: left; width: 394px; height:238px;background-size: cover;}
.usInfo img:hover{cursor: pointer;}
.borderAll{border: 2px solid #dad8d8;}
.borderLess{border-top: 2px solid #dad8d8;border-bottom: 2px solid #dad8d8;}
.usInfo .usA{display: block;margin-top: 65px;}
.usInfo a{color:#000000;font-size:14px;  border:2px solid #000000;  padding:6px 35px;}
/**========================================================*/

.scene{width: 100%; background: url(../images/pro_bg.png) repeat; height: 990px; padding-top: 120px;text-align: center; }


.scene .sceneBox{ width: 1200px; height: 680px;background: yellowgreen; margin: auto;margin-top: 65px;}

.sceneBox .iNewsList li{ width: 369px; height: 208px; overflow: hidden; position: relative; float: left;  margin-bottom: 12px;}
.sceneBox .iNewsList li a{ display: block; width: 100%; height: 100%;}
.sceneBox .iNewsList li.mr{ margin-left: 46px;}
.sceneBox .iNewsList li .bg{ width: 100%; height: 100%; background: #456729;
    filter:alpha(opacity=0); position: absolute; top: 0; left: 0; opacity: 0; filter:alpha(opacity=0); transition-duration: .5s; -webkit-transition-duration: .5s;}
.sceneBox .iNewsList li .tit{ font-size: 22px; font-weight: bold; color: #FFFFFF; position: absolute; top: 105px;
    left: 40px;
    transform: translateY(10px); -webkit-transform: translateY(10px);
    transition-duration: .5s; -webkit-transition-duration: .5s;}
.sceneBox .iNewsList li:hover .bg{ filter:alpha(opacity=80); opacity: .8; }
.sceneBox .iNewsList li:hover .tit{transform: translateY(0px); -webkit-transform: translateY(0px); }





